/aula02-stubs/node_modules
/aula03-spies/node_modules
/aula04-e2e-coverage/node_modules
/aula05-tdd-project-pt01/node_modules
/aula05-tdd-project-pt02/node_modules
/aula05-tdd-project-pt03/node_modules
